@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Syne";
}

.Lexend {
  font-family: "Lexend";
}

.text-purple {
  color: #890a74;
}

.bg-purple {
  background: #890a74;
}

.text-purple-darker {
  color: #300d38;
}

.bg-purple-darker {
  background: #300d38;
}

.text-orange {
  color: #ff9900;
}

.bg-orange {
  background: #ff9900;
}

.text-orange-lighter {
  color: #f9b35e;
}

.bg-orange-lighter {
  background: #f9b35e;
}
